<div class="container">
  <div class="card">
    <div class="title">
      <h1>Title</h1>
    </div>
    <div class="content">
      <div class="social">
        <p>The goal is to create a simple web application which makes a request to an API, parses the response, and displays the result in the UI. The app will consist of two modules - one home entry module that contains a root index page and one lazy loaded detail module.  </p>
      </div>
    </div>
    <div class="circle"></div>
  </div>
</div>
