
.card {
  position: relative;
  margin: 150px auto;
  width: 450px;
  padding: 20px;
  box-shadow: 3px 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  border: 0;
  background: white;
}
.card .circle {
  border-radius: 3px;
  width: 150px;
  height: 100px;
  background: black;
  position: absolute;
  right: 0px;
  top: 0;
  background-image: linear-gradient(to top, #d270ff 0%, #a6c1ee 100%);
  border-bottom-left-radius: 170px;
}
.card .content {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
}
.card h1 {
  font-size: 34px;
  font-weight: bold;
  margin-bottom: 0;
}
.card h2 {
  font-size: 18px;
  letter-spacing: 0.5px;
  font-weight: 300;
}
