<footer class="footer bg-primary-gradiant">
  <div class="c-container m-auto pt-50 pb-50 pl-10 pr-10 pl-0-lg pr-0-lg">
    <div class="flex">
      <div class="w-33-lg w-100">
        <h4 class="line-left">Follow Us</h4>
        <p>© 2022 All rights reserved.</p>
      </div>
      <div class="w-66-lg w-100">
        <div class="flex">
          <div class="w-33">
            <h4 class="line-left">Lorem ipsum</h4>
            <h4 class="line-left">Lorem ipsum</h4>
          </div>
          <div class="w-33">
            <h4 class="line-left">Lorem-2</h4>
            <h4 class="line-left">Lorem-3</h4>
          </div>
          <div class="w-33">
            <h4 class="line-left">Other</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
